---
name: Continuous Delivery

on:
  push:
    tags:
      - "v*"

permissions: read-all

jobs:
  binaries:
    name: Binaries
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        platform:
          [
            { os: "darwin", arch: "amd64" },
            { os: "darwin", arch: "arm64" },
            { os: "linux", arch: "amd64" },
            { os: "linux", arch: "arm64" },
            { os: "windows", arch: "amd64" },
            { os: "windows", arch: "arm64" },
          ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum

      - name: Install Dependencies
        run: |
          go mod download

      - name: Build
        run: |
          GOOS="${{ matrix.platform.os }}" GOARCH="${{ matrix.platform.arch }}" go build -o ./bin/httpmonitor .

          cd ./bin
          tar -czf httpmonitor-${{ matrix.platform.os }}-${{ matrix.platform.arch }}.tar.gz httpmonitor

      - name: Upload Artifact
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ github.ref_name }} ./bin/httpmonitor-${{ matrix.platform.os }}-${{ matrix.platform.arch }}.tar.gz
